name: Hola mundo
# Define el nombre del workflow que aparecer치 en GitHub Actions.

on: [push]
# Indica que este workflow se ejecutar치 cada vez que haya un push al repositorio.

jobs:
  hola:
    # Define un trabajo llamado "hola".
    runs-on: ubuntu-latest
    # Especifica que el trabajo se ejecutar치 en un runner con Ubuntu.

    steps:
      - name: Hola mundo
        # Nombre del paso que se mostrar치 en los logs.
        run: echo Hello, world!
        # Comando que se ejecuta en la terminal del runner (imprime "Hello, world!").

